@charset 'UTF-8';

/**
variables
**/
$navbar-h: 70px;
$navbar-h-max: 180px;
$tabnav-h: 55px;
$popup-lyric-h: 90px;

$dot-w: 24px;
$play-btn-w: 6px;
$play-btn-h: 40px;

/* stylelint-disable color-no-hex */
$color-white: #fff;
$color-whitesmoke: #f5f5f5;
$color-gray: #808080;
$color-lightgray: #d3d3d3;
$color-black: #000;
$color-brown: #a52a2a;
$color-red: #f00;

$color-1: #151513;
$color-2: #0fa0ce;
$color-3: #755f4b;
$color-4: #f5b043;
$color-5: #49413f;
$color-6: #eff1e2;
$color-7: #a8896c;
$color-8: #347a2a;
$color-9: #eee;
$color-10: #c3e9f5;
$color-11: #3b94bf;
$color-12: #4ca1ca;
$color-13: #a9c52f;
$color-14: #c08e52;
$color-15: #a65e09;
$color-16: #f7f7f7;

$tp-color-w-2: rgba(255, 255, 255, 0.2);
$tp-color-w-3: rgba(255, 255, 255, 0.3);
$tp-color-w-5: rgba(255, 255, 255, 0.5);
$tp-color-w-8: rgba(255, 255, 255, 0.8);
$tp-color-b-1: rgba(0, 0, 0, 0.1);
$tp-color-b-2: rgba(0, 0, 0, 0.2);
$tp-color-b-3: rgba(0, 0, 0, 0.3);
$tp-color-b-5: rgba(0, 0, 0, 0.3);
$tp-color-11: rgba(223, 201, 178, 0.4);
$tp-color-12: rgba(245, 245, 245, 0.3);

/* stylelint-enable color-no-hex */

$media-desktop: 991px;
$media-tablet: 768px;
$media-mobile: 480px;
$media-mobile-sm: 320px;

/**
Reset--------------------------------------------
**/
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	overflow-x: hidden;
	font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

figure {
	margin-bottom: 0;
	padding-bottom: 0;
}

.container {
	@media screen and (min-width: $media-desktop) {
		width: 768px;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $tp-color-b-3;
	font-weight: 100;
}

::-moz-placeholder { /* Firefox 19+ */
	color: $tp-color-b-3;
	font-weight: 100;
}

:-ms-input-placeholder { /* IE 10+ */
	color: $tp-color-b-3;
	font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
	color: $tp-color-b-3;
	font-weight: 100;
}

.btn, [type='submit'] {
	padding: 0;

	&:active {
		background-color: transparent;
	}

	&:hover {
		border-color: transparent;
	}
}

input {
	font-size: 14px;
}

/**
End Reset--------------------------------------------
**/

/**
Mixin--------------------------------------------
**/

/* stylelint-disable at-rule-no-unknown */
@mixin text-overflow() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

/**
End Mixin--------------------------------------------
**/

@keyframes ani-dot {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes ani-error-login {
	60% {
		opacity: 0;
	}
}

// navigation
.navbar {
	height: $navbar-h;
	width: 100%;
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/113/010/non_2x/multicolor-geometric-low-poly-vector-background.jpg');
	padding-bottom: 0;
	position: fixed;
	top: 0;
	z-index: 300;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 1px solid $tp-color-b-2;
	box-shadow: 1px 1px 1px $tp-color-b-2;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;

	&__list {
		display: flex;
		padding-top: 15px;
		@media screen and (max-width: $media-mobile) {
			flex-flow: wrap;
			justify-content: center;
		}
	}

	&__item--input {
		margin-left: 64px;
		margin-bottom: 5px;
		@media screen and (max-width: $media-mobile) {
			margin-left: 0;
			width: 100%;
		}
	}

	&__img {
		height: 40px;
	}
	@media screen and (max-width: $media-mobile) {
		height: $navbar-h-max;
	}
}

// search box
.search-box {
	width: 100%;
	background-color: $tp-color-w-5;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid $tp-color-w-2;
	@media screen and (max-width: $media-mobile) {
		margin: 10px 0 7px;
	}

	&--focus {
		background-color: $tp-color-w-8;
		border-color: rgba(0, 0, 0, 0.4);
	}

	&__wrap {
		display: flex;
	}

	&__input[type='text'],
	&__submit {
		border-color: transparent;
		margin-bottom: 0;
		background-color: transparent;

		&:focus {
			border: 0;
		}
	}

	&__input {
		width: 100%;
	}

	&__submit {
		width: 90px;
		font-size: 11px;
		font-weight: 600;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.5);
		background-color: $tp-color-w-2;

		&:hover {
			background-color: $tp-color-w-2;
			color: $color-5;
		}
	}
}

//button play
.play-button {
	position: relative;
	width: $play-btn-h;
	height: $play-btn-h;
	margin-left: 60px;
	cursor: pointer;
	@media screen and (max-width: $media-mobile) {
		margin-left: 0;
	}

	&:hover {
		.play-button__item {
			background-color: $color-lightgray;
		}
	}

	&--play, &--pause {
		transition: 1s;
	}

	&__item {
		border-radius: $play-btn-w / 2;
		background: $color-white;
		position: absolute;
		transition: all 0.3s;
	}

	&__top {
		width: $play-btn-h;
		height: $play-btn-w;
		top: 0;
		left: 0;
	}

	&__right {
		width: $play-btn-w;
		height: $play-btn-h;
		top: 0;
		left: $play-btn-h - $play-btn-w;
	}

	&__bottom {
		width: $play-btn-h;
		height: $play-btn-w;
		top: $play-btn-h - $play-btn-w;
		left: 0;
	}

	&__left {
		width: $play-btn-w;
		height: $play-btn-h;
		top: 0;
		left: 0;
	}

	&--play {
		transform: rotate(-90deg);

		.play-button__right {
			transform-origin: center top;
			transform: rotate(29deg) translate($play-btn-w/4, $play-btn-w/8) scaleY(1);
		}

		.play-button__bottom {
			display: none;
		}

		.play-button__left {
			transform-origin: center top;
			transform: rotate(-29deg) translate(-$play-btn-w/4, $play-btn-w/8) scaleY(1);
		}
	}

	&--pause {
		transform: rotate(180deg);

		.play-button__top,
		.play-button__bottom {
			opacity: 0;
		}

		.play-button__right {
			transform: translateX(-$play-btn-w) scaleY(0.8);
		}

		.play-button__left {
			transform: translateX($play-btn-w) scaleY(0.8);
		}
	}
}

.host {
	position: absolute;
	top: 20px;
	left: 25px;
	z-index: 1000;
	cursor: pointer;

	.dot {
		width: $dot-w;
		height: $dot-w;
		border-radius: 50%;
		background-color: $tp-color-w-3;
		position: relative;
		transition: all 0.3s;

		&::after {
			content: 'host';
			position: absolute;
			left: 40px;
			color: $color-white;
			transform: translate(-100%) scaleX(-1);
			opacity: 0;
			transition: all 0.3s;
			font-size: 15px;
		}

		&:hover {
			background-color: $color-white;

			&::after {
				opacity: 1;
				transform: translate(0) scaleX(1);
			}
		}
	}

	&--active {
		.dot {
			background-color: $color-13;
			transition: all 0.3s;
			animation: ani-dot 1s infinite;

			&:hover {
				background-color: $color-13;

				&::after {
					content: 'guest';
					color: $color-13;
				}
			}
		}
	}
}

.tab {
	width: 100%;
	margin-top: $navbar-h;
	position: relative;
	@media screen and (max-width: $media-mobile) {
		margin-top: $navbar-h-max;
	}

	&__collapse {
		position: fixed;
		margin-top: 10px;
		right: 10px;
		z-index: 200;
		background: transparent;
		border: 1px solid $tp-color-b-3;
		border-radius: 3px;
		display: none;

		&--close {
			i::before {
				content: '\f00d';
			}
		}

		@media screen and (max-width: $media-tablet) {
			display: block;
		}
	}

	&__nav {
		position: fixed;
		width: 100%;
		z-index: 100;
		background-color: $color-white;
		border-bottom: 1px solid $tp-color-b-1;

		&__container {
			display: flex;
		}

		@media screen and (max-width: $media-tablet) {
			background-color: transparent;
			border-bottom: transparent;

			&__container {
				flex-direction: column;
				width: 100%;
				padding: 0;
			}
		}

		.nav-play-list {
			margin-bottom: 0;
			display: flex;
			flex-flow: wrap;
			flex: 1;
			transition: transform 0.3s;

			@media screen and (max-width: $media-tablet) {
				justify-content: center;
				flex-direction: column;
				transform: translateX(100%);
				border-bottom: 1px solid $tp-color-b-1;
				overflow: hidden;
				margin-top: -1px;
				height: 0;
				z-index: 1;
			}

			&__item {
				padding: 15px;
				margin-bottom: 0;
				position: relative;
				transition: all 0.5s;
				cursor: pointer;

				a {
					color: $color-black;
					opacity: 0.5;
					transition: all 0.5s;
				}

				&::after {
					content: '';
					position: absolute;
					font-weight: 600;
					display: block;
					left: 50%;
					height: 2px;
					width: 14px;
					bottom: 7px;
					opacity: 0;
					transition: all 0.5s;
					background-color: $color-5;
					transform: translateX(-50%);
				}

				&:hover {
					background-color: $color-whitesmoke;

					a {
						opacity: 1;
					}

					@media screen and (max-width: $media-tablet) {
						text-align: center;
						background-color: transparent;
					}
				}

				&--active {
					z-index: 199;

					&::after, a {
						opacity: 1;
					}
				}

				@media screen and (max-width: $media-tablet) {
					text-align: center;
				}
			}
		}

		.login-block {
			position: relative;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			&__btn {
				padding: 15px;
				transition: all 0.5s;

				a {
					color: $color-black;
					opacity: 0.5;
					text-decoration: underline;
				}

				&:hover {
					background-color: $color-whitesmoke;

					a {
						opacity: 1;
					}
				}
			}

			&__error {
				position: absolute;
				margin-left: 20px;
				transform: translateX(100%);
				width: 100px;

				&::before {
					position: absolute;
					content: '';
					display: block;
					width: 5px;
					height: 5px;
					border-radius: 100%;
					background-color: $color-red;
					top: 50%;
					opacity: 1;
					margin-left: -15px;
					animation: ani-error-login 1s infinite;
				}

				p {
					margin-bottom: 0;
				}

				@media screen and (max-width: $media-tablet) {
					transform: translateX(0);
					position: static;
					width: auto;
				}

				@media screen and (max-width: $media-mobile) {
					width: 100px;
				}
			}

			@media screen and (max-width: $media-tablet) {
				width: 100%;
				justify-content: flex-start;
				background: $color-16;
				order: -1;
				z-index: 2;
				border-bottom: 1px solid $color-9;
			}
		}

		&--open {
			.nav-play-list {
				background: $color-6;
				height: auto;
				transform: translateX(0);
			}
		}
	}

	.song {
		&__container {
			top: $tabnav-h + 20px;
		}

		&__list {
			@media screen and (max-width: $media-desktop) {
				padding-top: 20px;
			}
		}

		&__item {
			display: flex;
			position: relative;
			margin-left: 13px;

			@media screen and (max-width: $media-desktop) {
				flex-flow: wrap;
				margin-bottom: 30px;
			}

			@media screen and (max-width: $media-tablet) {
				border-bottom: 1px solid $color-9;
			}

			&--playing {
				.song__item__mark {
					color: $color-brown;
				}
			}

			&--selected {
				.song__item__mark {
					opacity: 0.5;
				}
			}

			&__author {
				position: absolute;
				display: none;
				top: 50%;
				margin-left: -20px;
				transform: translate(-100%, -50%);
				@include text-overflow;

				width: 150px;

				@media screen and (max-width: $media-desktop) {
					top: -25px;
					transform: translate(0);
					margin-left: 0;
				}

				&--active {
					display: block;
				}
			}

			&__mark {
				position: absolute;
				top: 20px;
				transform: translateY(-50%);
				margin-left: -13px;
			}

			&__info {
				display: flex;
				align-items: center;
				margin-left: 0;

				@media screen and (max-width: $media-tablet) and (min-width: $media-mobile) {
					width: 50%;
				}
			}

			&__link {
				@include text-overflow;

				width: 80%;
				margin-left: 15px;
				color: $color-black;

				&:hover {
					color: $color-2;
				}
			}

			&__control {
				display: flex;
				justify-content: flex-end;
				align-items: center;

				a {
					padding: 0 8px;
					color: $color-gray;

					&:hover {
						color: $color-3;
					}
				}

				@media screen and (max-width: $media-tablet) and (min-width: $media-mobile) {
					width: 50%;
					margin-left: 0;
				}

				@media screen and (max-width: $media-mobile) {
					justify-content: flex-start;
					margin-left: -18px;
					padding-bottom: 4px;
				}
			}

			&__time {
				margin-right: 15px;
				margin-left: 18px;
				font-size: 13px;
			}

			&:hover {
				background-color: $tp-color-12;
				cursor: pointer;
			}
		}
	}

	.top-song {
		&__container {
			top: $tabnav-h + 30px;
		}

		&__list {
			flex-flow: wrap;
		}

		&__title {
			margin-bottom: 32px;

			span {
				font-size: 14px;
				margin-left: 5px;
				font-weight: normal;
			}
		}

		&__item {
			width: calc(25% - 30px);
			margin-left: 0;
			flex-grow: 0;
			margin-bottom: 0;

			&:not(:nth-child(4n+1)) {
				margin-left: 30px;
			}

			@media screen and (max-width: $media-tablet) {
				width: calc(50% - 30px);

				&:not(:nth-child(even)) {
					margin-left: 0;
				}
			}

			@media screen and (max-width: $media-mobile) {
				width: 100%;
				margin-left: 0 !important;
			}

			&__img {
				width: 100%;
				padding-bottom: 100%;
				position: relative;

				img {
					position: absolute;
					height: 100%;
					overflow: hidden;
					object-fit: cover;
				}

				&::after {
					position: absolute;
					top: 7.5px;
					right: 7.5px;
					bottom: 7.5px;
					left: 7.5px;
					border: 2px solid $color-white;
					box-shadow: 0 0 0 15px $tp-color-w-2;
					content: '';
					opacity: 0;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: scale3d(1.4, 1.4, 1);
					transform: scale3d(1.4, 1.4, 1);
				}

				&:hover {
					&::after {
						opacity: 1;
						-webkit-transform: scale3d(1, 1, 1);
						transform: scale3d(1, 1, 1);
					}

					.top-song__item__count {
						color: $tp-color-w-8;
					}
				}
			}

			&__count {
				position: absolute;
				bottom: 8px;
				left: 14px;
				margin-bottom: 0;
				color: $tp-color-w-5;
				transition: all 0.3s;
			}

			&__title {
				text-align: left;
				font-style: normal;

				h6 {
					@include text-overflow;

					margin: 7px 0 0;
				}
			}

			&__author {
				@include text-overflow;

				font-size: 14px;
				opacity: 0.7;
				margin-top: -5px;
				margin-bottom: 15px;
			}
		}
	}

	.users {
		&__container {
			top: $tabnav-h + 30px;
		}

		&__title {
			span {
				float: right;
				font-size: 14px;
				font-weight: normal;
				margin-top: 10px;
				@media screen and (max-width: $media-mobile) {
					margin-top: 5px;
				}
			}
		}

		&__item {
			display: flex;
			align-items: center;
			position: relative;

			@media screen and (max-width: $media-tablet) {
				flex-flow: wrap;
			}

			&::before {
				content: '';
				width: 8px;
				height: 8px;
				position: absolute;
				left: 0;
				border-radius: 100%;
				background-color: $color-4;

				@media screen and (max-width: $media-tablet) {
					top: 20px;
				}
			}

			&__avt {
				margin-left: 15px;
				margin-right: 6px;
			}

			&__info {
				display: flex;
				flex-flow: wrap;
				width: 40%;
				margin-top: -6px;
				@media screen and (max-width: $media-tablet) {
					flex-direction: column;
					align-items: flex-start;
					width: calc(100% - 80px);

					.users__item__coin {
						margin-left: 0;
					}
				}
			}

			&__user {
				display: flex;
				flex-flow: wrap;
				width: 100%;
			}

			&__name {
				@include text-overflow;

				width: 60%;
				margin-bottom: 0;
				margin-right: 10px;
			}

			&__coin {
				background-color: $color-7;
				border-radius: 2px;
				padding: 0 6px;
				color: $color-white;

				&::before {
					content: '₦';
					margin-right: 4px;
				}
			}

			&__payment {
				width: 60%;
				margin-left: 20px;

				@media screen and (max-width: $media-tablet) {
					margin-left: 15px;
					margin-top: 10px;
				}

				form {
					margin-bottom: 0;
					display: flex;
					align-items: flex-end;
					font-size: 11px;

					> div {
						flex: 1;
					}
				}

				&__input-wraper {
					flex: 2;
				}

				&__label {
					font-weight: 100;
					text-transform: uppercase;
				}

				&__submit {
					padding: 0 30px;
					margin-left: 10px;
					text-transform: uppercase;
					border-color: $color-14;
					background-color: $color-14;

					@media screen and (max-width: $media-mobile) {
						padding: 0 15px;
					}

					&:hover {
						border-color: $color-15;
						background-color: $color-15;
					}
				}
			}

			&--active {
				&::before {
					background-color: $color-8;
				}
			}
		}
	}
}


.popup-lyric {
	position: fixed;
	z-index: 1999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: $tp-color-b-5;
	transition: all 0.3s;

	&--active {
		display: block;

		.popup-lyric__wrap {
			bottom: auto;
			top: 50%;
		}
	}

	&__wrap {
		position: fixed;
		bottom: -70vh;
		left: 50%;
		width: 50vw;
		height: 70vh;
		transform: translate(-50%, -50%);
		z-index: 2000;
		overflow: hidden;
		transition: all 0.5s;
	}

	&__header {
		padding: 10px 15px;
		text-align: center;
		background-color: $color-12;
		color: $color-white;
		border-bottom: 3px solid $color-11;
	}

	&__close {
		font-size: 24px;
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 1;

		&:hover {
			cursor: pointer;
		}
	}

	&__body {
		text-align: center;
		max-height: calc(70vh - #{$popup-lyric-h});
		overflow-y: auto;
		padding: 15px;
		background-color: $color-10;
	}

	&__full {
		margin-bottom: 0;
	}

	&__name {
		font-weight: 400;
	}
}
/* stylelint-enable at-rule-no-unknown */
