@charset "UTF-8";
/**
variables
**/
/* stylelint-disable color-no-hex */
/* stylelint-enable color-no-hex */
/**
Reset--------------------------------------------
**/
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  overflow-x: hidden;
  font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

li {
  list-style: none; }

button {
  cursor: pointer; }

figure {
  margin-bottom: 0;
  padding-bottom: 0; }

@media screen and (min-width: 991px) {
  .container {
    width: 768px; } }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100; }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100; }

.btn, [type='submit'] {
  padding: 0; }

.btn:active, [type='submit']:active {
  background-color: transparent; }

.btn:hover, [type='submit']:hover {
  border-color: transparent; }

input {
  font-size: 14px; }

/**
End Reset--------------------------------------------
**/
/**
Mixin--------------------------------------------
**/
/* stylelint-disable at-rule-no-unknown */
/**
End Mixin--------------------------------------------
**/
@keyframes ani-dot {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes ani-error-login {
  60% {
    opacity: 0; } }

.navbar {
  height: 70px;
  width: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/113/010/non_2x/multicolor-geometric-low-poly-vector-background.jpg");
  padding-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 300;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.navbar__list {
  display: flex;
  padding-top: 15px; }

@media screen and (max-width: 480px) {
  .navbar__list {
    flex-flow: wrap;
    justify-content: center; } }

.navbar__item--input {
  margin-left: 64px;
  margin-bottom: 5px; }

@media screen and (max-width: 480px) {
  .navbar__item--input {
    margin-left: 0;
    width: 100%; } }

.navbar__img {
  height: 40px; }

@media screen and (max-width: 480px) {
  .navbar {
    height: 180px; } }

.search-box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2); }

@media screen and (max-width: 480px) {
  .search-box {
    margin: 10px 0 7px; } }

.search-box--focus {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.4); }

.search-box__wrap {
  display: flex; }

.search-box__input[type='text'], .search-box__submit {
  border: 1px;
  border-color: transparent;
  margin-bottom: 0;
  background-color: transparent; }

.search-box__input[type='text']:focus, .search-box__submit:focus {
  border: 0; }

.search-box__input {
  width: 100%; }

.search-box__submit {
  width: 90px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.2); }

.search-box__submit:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #49413f; }

.play-button {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 60px;
  cursor: pointer; }

@media screen and (max-width: 480px) {
  .play-button {
    margin-left: 0; } }

.play-button:hover .play-button__item {
  background-color: #d3d3d3; }

.play-button--play, .play-button--pause {
  transition: 1s; }

.play-button__item {
  border-radius: 3px;
  background: #fff;
  position: absolute;
  transition: all 0.3s; }

.play-button__top {
  width: 40px;
  height: 6px;
  top: 0;
  left: 0; }

.play-button__right {
  width: 6px;
  height: 40px;
  top: 0;
  left: 34px; }

.play-button__bottom {
  width: 40px;
  height: 6px;
  top: 34px;
  left: 0; }

.play-button__left {
  width: 6px;
  height: 40px;
  top: 0;
  left: 0; }

.play-button--play {
  transform: rotate(-90deg); }

.play-button--play .play-button__right {
  transform-origin: center top;
  transform: rotate(29deg) translate(1.5px, 0.75px) scaleY(1); }

.play-button--play .play-button__bottom {
  display: none; }

.play-button--play .play-button__left {
  transform-origin: center top;
  transform: rotate(-29deg) translate(-1.5px, 0.75px) scaleY(1); }

.play-button--pause {
  transform: rotate(180deg); }

.play-button--pause .play-button__top,
.play-button--pause .play-button__bottom {
  opacity: 0; }

.play-button--pause .play-button__right {
  transform: translateX(-6px) scaleY(0.8); }

.play-button--pause .play-button__left {
  transform: translateX(6px) scaleY(0.8); }

.host {
  position: absolute;
  top: 20px;
  left: 25px;
  z-index: 1000;
  cursor: pointer; }

.host .dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  transition: all 0.3s; }

.host .dot::after {
  content: 'host';
  position: absolute;
  left: 40px;
  color: #fff;
  transform: translate(-100%) scaleX(-1);
  opacity: 0;
  transition: all 0.3s;
  font-size: 15px; }

.host .dot:hover {
  background-color: #fff; }

.host .dot:hover::after {
  opacity: 1;
  transform: translate(0) scaleX(1); }

.host--active {
  cursor: default; }

.host--active .dot {
  background-color: #a9c52f;
  transition: all 0.3s;
  animation: ani-dot 1s infinite; }

.host--active .dot:hover {
  background-color: #a9c52f; }

.host--active .dot:hover::after {
  content: 'guest';
  color: #a9c52f; }

.tab {
  width: 100%;
  margin-top: 70px;
  position: relative; }

@media screen and (max-width: 480px) {
  .tab {
    margin-top: 180px; } }

.tab__collapse {
  position: fixed;
  margin-top: 10px;
  right: 10px;
  z-index: 200;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: none; }

.tab__collapse--close i::before {
  content: '\f00d'; }

@media screen and (max-width: 768px) {
  .tab__collapse {
    display: block; } }

.tab__nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.tab__nav__container {
  display: flex; }

@media screen and (max-width: 768px) {
  .tab__nav {
    background-color: transparent;
    border-bottom: transparent; }
  .tab__nav__container {
    flex-direction: column;
    width: 100%;
    padding: 0; } }

.tab__nav .nav-play-list {
  margin-bottom: 0;
  display: flex;
  flex-flow: wrap;
  flex: 1;
  transition: transform 0.3s; }

@media screen and (max-width: 768px) {
  .tab__nav .nav-play-list {
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: -1px;
    height: 0;
    z-index: 1; } }

.tab__nav .nav-play-list__item {
  padding: 15px;
  margin-bottom: 0;
  position: relative;
  transition: all 0.5s;
  cursor: pointer; }

.tab__nav .nav-play-list__item a {
  color: #000;
  opacity: 0.5;
  transition: all 0.5s; }

.tab__nav .nav-play-list__item::after {
  content: '';
  position: absolute;
  font-weight: 600;
  display: block;
  left: 50%;
  height: 2px;
  width: 14px;
  bottom: 7px;
  opacity: 0;
  transition: all 0.5s;
  background-color: #49413f;
  transform: translateX(-50%); }

.tab__nav .nav-play-list__item:hover {
  background-color: #f5f5f5; }

.tab__nav .nav-play-list__item:hover a {
  opacity: 1; }

@media screen and (max-width: 768px) {
  .tab__nav .nav-play-list__item:hover {
    text-align: center;
    background-color: transparent; } }

.tab__nav .nav-play-list__item--active {
  z-index: 199; }

.tab__nav .nav-play-list__item--active::after, .tab__nav .nav-play-list__item--active a {
  opacity: 1; }

@media screen and (max-width: 768px) {
  .tab__nav .nav-play-list__item {
    text-align: center; } }

.tab__nav .login-block {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.tab__nav .login-block__btn {
  padding: 15px;
  transition: all 0.5s; }

.tab__nav .login-block__btn a {
  color: #000;
  opacity: 0.5;
  text-decoration: underline; }

.tab__nav .login-block__btn:hover {
  background-color: #f5f5f5; }

.tab__nav .login-block__btn:hover a {
  opacity: 1; }

.tab__nav .login-block__error {
  position: absolute;
  margin-left: 20px;
  transform: translateX(100%);
  width: 100px;
  display: none; }

.tab__nav .login-block__error--active {
  display: block; }

.tab__nav .login-block__error::before {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f00;
  top: 50%;
  opacity: 1;
  margin-left: -15px;
  animation: ani-error-login 1s infinite; }

.tab__nav .login-block__error p {
  margin-bottom: 0; }

@media screen and (max-width: 768px) {
  .tab__nav .login-block__error {
    transform: translateX(0);
    position: static;
    width: auto; } }

@media screen and (max-width: 480px) {
  .tab__nav .login-block__error {
    width: 100px; } }

@media screen and (max-width: 768px) {
  .tab__nav .login-block {
    width: 100%;
    justify-content: flex-start;
    background: #f7f7f7;
    order: -1;
    z-index: 2;
    border-bottom: 1px solid #eee; } }

.tab__nav--open .nav-play-list {
  background: #eff1e2;
  height: auto;
  transform: translateX(0); }

.tab .song__container {
  top: 75px; }

@media screen and (max-width: 991px) {
  .tab .song__list {
    padding-top: 20px; } }

.tab .song__item {
  display: flex;
  position: relative;
  margin-left: 13px; }

@media screen and (max-width: 991px) {
  .tab .song__item {
    flex-flow: wrap;
    margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .tab .song__item {
    border-bottom: 1px solid #eee; } }

.tab .song__item--playing .song__item__mark {
  color: #a52a2a; }

.tab .song__item--selected .song__item__mark {
  opacity: 0.5; }

.tab .song__item__author {
  position: absolute;
  display: none;
  top: 50%;
  margin-left: -20px;
  transform: translate(-100%, -50%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 150px; }

@media screen and (max-width: 991px) {
  .tab .song__item__author {
    top: -25px;
    transform: translate(0);
    margin-left: 0; } }

.tab .song__item__author--active {
  display: block; }

.tab .song__item__mark {
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  margin-left: -13px; }

.tab .song__item__info {
  display: flex;
  align-items: center;
  margin-left: 0; }

@media screen and (max-width: 768px) and (min-width: 480px) {
  .tab .song__item__info {
    width: 50%; } }

.tab .song__item__link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 80%;
  margin-left: 15px;
  color: #000; }

.tab .song__item__link:hover {
  color: #0fa0ce; }

.tab .song__item__control {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.tab .song__item__control a {
  padding: 0 8px;
  color: #808080; }

.tab .song__item__control a:hover {
  color: #755f4b; }

@media screen and (max-width: 768px) and (min-width: 480px) {
  .tab .song__item__control {
    width: 50%;
    margin-left: 0; } }

@media screen and (max-width: 480px) {
  .tab .song__item__control {
    justify-content: flex-start;
    margin-left: -18px;
    padding-bottom: 4px; } }

.tab .song__item__time {
  margin-right: 15px;
  margin-left: 18px;
  font-size: 13px; }

.tab .song__item:hover {
  background-color: rgba(245, 245, 245, 0.3);
  cursor: pointer; }

.tab .top-song__container {
  top: 85px; }

.tab .top-song__list {
  flex-flow: wrap; }

.tab .top-song__title {
  margin-bottom: 32px; }

.tab .top-song__title span {
  font-size: 14px;
  margin-left: 5px;
  font-weight: normal; }

.tab .top-song__item {
  width: calc(25% - 30px);
  margin-left: 0;
  flex-grow: 0;
  margin-bottom: 0; }

.tab .top-song__item:not(:nth-child(4n+1)) {
  margin-left: 30px; }

@media screen and (max-width: 768px) {
  .tab .top-song__item {
    width: calc(50% - 30px); }
  .tab .top-song__item:not(:nth-child(even)) {
    margin-left: 0; } }

@media screen and (max-width: 480px) {
  .tab .top-song__item {
    width: 100%;
    margin-left: 0 !important; } }

.tab .top-song__item__img {
  width: 100%;
  padding-bottom: 100%;
  position: relative; }

.tab .top-song__item__img img {
  position: absolute;
  height: 100%;
  overflow: hidden;
  object-fit: cover; }

.tab .top-song__item__img::after {
  position: absolute;
  top: 7.5px;
  right: 7.5px;
  bottom: 7.5px;
  left: 7.5px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1); }

.tab .top-song__item__img:hover::after {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.tab .top-song__item__img:hover .top-song__item__count {
  color: rgba(255, 255, 255, 0.8); }

.tab .top-song__item__count {
  position: absolute;
  bottom: 8px;
  left: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s; }

.tab .top-song__item__title {
  text-align: left;
  font-style: normal; }

.tab .top-song__item__title h6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin: 7px 0 0; }

.tab .top-song__item__author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 14px;
  opacity: 0.7;
  margin-top: -5px;
  margin-bottom: 15px; }

.tab .users__container {
  top: 85px; }

.tab .users__title span {
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px; }

@media screen and (max-width: 480px) {
  .tab .users__title span {
    margin-top: 5px; } }

.tab .users__item {
  display: flex;
  align-items: center;
  position: relative; }

@media screen and (max-width: 768px) {
  .tab .users__item {
    flex-flow: wrap; } }

.tab .users__item::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  border-radius: 100%;
  background-color: #f5b043; }

@media screen and (max-width: 768px) {
  .tab .users__item::before {
    top: 20px; } }

.tab .users__item__avt {
  margin-left: 15px;
  margin-right: 6px; }

.tab .users__item__info {
  display: flex;
  flex-flow: wrap;
  width: 40%;
  margin-top: -6px; }

@media screen and (max-width: 768px) {
  .tab .users__item__info {
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 80px); }
  .tab .users__item__info .users__item__coin {
    margin-left: 0; } }

.tab .users__item__user {
  display: flex;
  flex-flow: wrap;
  width: 100%; }

.tab .users__item__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 60%;
  margin-bottom: 0;
  margin-right: 10px; }

.tab .users__item__coin {
  background-color: #a8896c;
  border-radius: 2px;
  padding: 0 6px;
  color: #fff; }

.tab .users__item__coin::before {
  content: '₦';
  margin-right: 4px; }

.tab .users__item__payment {
  width: 60%;
  margin-left: 20px; }

@media screen and (max-width: 768px) {
  .tab .users__item__payment {
    margin-left: 15px;
    margin-top: 10px; } }

.tab .users__item__payment form {
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  font-size: 11px; }

.tab .users__item__payment form > div {
  flex: 1; }

.tab .users__item__payment__input-wraper {
  flex: 2; }

.tab .users__item__payment__label {
  font-weight: 100;
  text-transform: uppercase; }

.tab .users__item__payment__submit {
  padding: 0 30px;
  margin-left: 10px;
  text-transform: uppercase;
  border-color: #c08e52;
  background-color: #c08e52; }

@media screen and (max-width: 480px) {
  .tab .users__item__payment__submit {
    padding: 0 15px; } }

.tab .users__item__payment__submit:hover {
  border-color: #a65e09;
  background-color: #a65e09; }

.tab .users__item--active::before {
  background-color: #347a2a; }

.popup-lyric {
  position: fixed;
  z-index: 1999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s; }

.popup-lyric--active {
  display: block; }

.popup-lyric--active .popup-lyric__wrap {
  bottom: auto;
  top: 50%; }

.popup-lyric__wrap {
  position: fixed;
  bottom: -70vh;
  left: 50%;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: hidden;
  transition: all 0.5s; }

.popup-lyric__header {
  padding: 10px 15px;
  text-align: center;
  background-color: #4ca1ca;
  color: #fff;
  border-bottom: 3px solid #3b94bf; }

.popup-lyric__close {
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1; }

.popup-lyric__close:hover {
  cursor: pointer; }

.popup-lyric__body {
  text-align: center;
  max-height: calc(70vh - 90px);
  overflow-y: auto;
  padding: 15px;
  background-color: #c3e9f5; }

.popup-lyric__full {
  margin-bottom: 0; }

.popup-lyric__name {
  font-weight: 400; }

/* stylelint-enable at-rule-no-unknown */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */